body {
    background-image: url('https://i.pinimg.com/564x/ee/88/23/ee8823a90b225779a89d0d8ff4c99d51.jpg');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Mali', cursive;
  }
  
    .mainpage {width: 1024px; margin: 0 auto;}

    header{
      background-color: #AED6F1 ;
      color: black;
      height: 70px;
      padding: 10px;
    }
  
    footer{
        background-color: #AED6F1 ;
      color: black;
      height: 40px;
      padding: 10px;
      text-align: center;
    }

    .headname1 {
        color: #000000;
    }

    .headname2 {
      color: #3f0681;
  }

  .graphic{
    background-image: url("image/chantaburi-cover.jpeg");
    height: 320px;
    padding: auto;
  }

  .maps{
    border: 1px solid rgb(153, 168, 168);
    height: 300px;
  }